[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/example42/puppet-apache.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/postfix"]
	path = modules/postfix
	url = https://github.com/Aethylred/puppet-postfix.git
[submodule "modules/ohmyzsh"]
	path = modules/ohmyzsh
	url = https://github.com/acme/puppet-acme-oh-my-zsh.git
[submodule "modules/mailcatcher"]
	path = modules/mailcatcher
	url = https://github.com/ChrisWiegman/puppet-mailcatcher.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/example42/puppet-apt.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/mayflower/puppet-php.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
