[submodule "provision/modules/concat"]
	path = provision/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "provision/modules/puppi"]
	path = provision/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "provision/modules/stdlib"]
	path = provision/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "provision/modules/mysql"]
	path = provision/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "provision/modules/postfix"]
	path = provision/modules/postfix
	url = https://github.com/Aethylred/puppet-postfix.git
[submodule "provision/modules/ohmyzsh"]
	path = provision/modules/ohmyzsh
	url = https://github.com/acme/puppet-acme-oh-my-zsh.git
[submodule "provision/modules/nodejs"]
	path = provision/modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "provision/modules/vcsrepo"]
	path = provision/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "provision/modules/inifile"]
	path = provision/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "provision/modules/wp"]
	path = provision/modules/wp
	url = https://github.com/joshbetz/puppet-wp.git
[submodule "provision/modules/apache"]
	path = provision/modules/apache
	url = https://github.com/example42/puppet-apache.git
[submodule "provision/modules/mailhog"]
	path = provision/modules/mailhog
	url = https://github.com/ftaeger/ftaeger-mailhog.git
[submodule "provision/modules/wget"]
	path = provision/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "provision/modules/php"]
	path = provision/modules/php
	url = https://github.com/mayflower/puppet-php.git
[submodule "provision/modules/apt"]
	path = provision/modules/apt
	url = git@github.com:puppetlabs/puppetlabs-apt.git
